{% extends 'authentication/base.html' %}
{% load static %}
{% load service_extras %}

{% block content %}

<style>
    .rating img {
        filter: invert(69%) sepia(80%) saturate(1583%) hue-rotate(11deg) brightness(95%) contrast(96%); 
    }
</style>

<div class="col-md-10 main">
    <h5>Mes critiques</h5>
    <div class="grid-container">
        {% for review in reviews %}
            {% if review.user == request.user %}
                <div class="post mb-3">
                    <div class="post">
                        <div class="user-infos">
                            {% include 'service/partials/user_infos_snippet.html' with user=review.user %}
                            <p>Critique pour la demande de <strong>{{ review.ticket.user.username }}</strong></p>
                        </div>
                        <div class="form-group">
                            <label for="review-headline">Titre</label>
                            <input type="text" class="form-control" id="review-headline" value="{{ review.headline }}" readonly>
                        </div>
                        <div class="form-group mt-2">
                            <label for="review-body">Description</label>
                            <textarea class="form-control" id="review-body" rows="3" readonly>{{ review.body }}</textarea>
                        </div>
                        {% if review.ticket.image %}
                            <div class="col-md-4 mt-2 mb-2">
                                <img src="{{ review.ticket.image.url }}" alt="Image de la critique" class="img-fluid w-50">
                            </div>
                        {% endif %}
                        <div class="row">
                            <div class="col-auto mt-2">
                            <h6>Note :</h6>
                            </div>
                            <div class="col">
                                <div class="rating">
                                    {% for i in review.rating|get_range %}
                                        <img src="{% static 'pictures/star-fill.svg' %}" class="text-primary">
                                    {% endfor %}
                                    {% for i in review.rating|get_complement_range %}
                                        <img src="{% static 'pictures/star.svg' %}" class="text-primary">
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <p class="mb-1">Date de création : {{ review.time_created }}</p>
                        <p class="mb-1">Créé par : {{ review.user.username }}</p>
                        <a href="{% url 'edit_review' review.id %}" class="btn btn-primary">Modifier</a>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <hr>
    <h5>Mes demandes de critiques</h5>
    <div class="grid-container">
        {% for ticket in tickets %}
            {% if ticket.user == request.user %}
                <div class="post mb-3">
                    <div class="post">
                        <div class="form-group">
                            <label for="ticket-title">Titre</label>
                            <input type="text" class="form-control" id="ticket-title" value="{{ ticket.title }}" readonly>
                        </div>
                        <div class="form-group mt-2">
                            <label for="ticket-description">Description</label>
                            <textarea class="form-control" id="ticket-description" rows="3" readonly>{{ ticket.description }}</textarea>
                        </div>
                        {% if ticket.image %}
                            <div class="col-md-4 mt-2 mb-2">
                                <img src="{{ ticket.image.url }}" alt="Image du ticket" class="img-fluid w-50">
                            </div>
                        {% endif %}
                        <p class="mb-1">Date de création : {{ ticket.time_created }}</p>
                        <p class="mb-1">Créé par : {{ ticket.user.username }}</p>
                        <a href="{% url 'edit_ticket' ticket.id %}" class="btn btn-primary">Modifier</a>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <hr>

    <h5>Abonnements & Abonnés</h5>
    <div class="grid-container">
        {%if user.username == requested_user.username %}
            <p><b><a href="{% url 'user_profile' user.username %}">{{ user.username }}</a></b> | <a href="{% url 'followers_page' user.username %}"><b>{{ user_followers|length }}</b> Abonnés | <b>{{ user_follows|length }}</b> Abonnements</a></p>
            <hr>
            <h5>Flux abonnements</h5>
        {% else %}
            {% if requested_user.profile_photo %}
                <a href="{% url 'user_profile' user=requested_user.username %}">
                    <img class="profile-pic rounded" src="{{ requested_user.profile_photo.url }}">
                </a>
            {% else %}
                <img class="profile-pic rounded" src="{% static 'pictures/default_profile.png' %}" style="width: 80px; height: 80px;">
            {% endif %}
            <p><a href="{% url 'user_profile' username=requested_user.username %}"><b>{{ requested_user.username }}</b></a> | <a href="{% url 'followers_page' username=requested_user.username %}"><b>{{ user_followers|length }}</b> Abonnés | <b>{{ user_follows|length }}</b> Abonnements</a></p>
            <form method="post">
                {{ follow_form.as_p }}
                {% csrf_token %}
                <input class="btn" id="follow_btn" type="submit" value="{{ btn_text }}">
            </form>
            <h2>Posts de {{ requested_user.username }}</h2>
        {% endif %}
        
        {% for instance in page_obj %}
            {% if instance|model_type == 'Ticket' %}
                <hr>
                <div class="container__feed ticket {% if instance.has_review %}reviewed{% endif %}">
                    <div class="user-date mt-2">
                        <div class="user-infos">
                            {% include 'service/partials/user_infos_snippet.html' with user=instance.user %}
                            <p><strong>{{ instance.user.username }}</strong> a demandé une critique</p>
                        </div>
                        <p>{{ instance.time_created }}</p>
                    </div>

                    {% include 'service/partials/ticket_snippet.html' with ticket=instance %}
                    <div class="container__buttons">
                        {% if instance.user == request.user %}
                            <a href="{% url 'edit_ticket' instance.id %}"><button type="submit" class="btn btn-primary mt-2">Éditer / supprimer la demande</button></a>
                        {% endif %}
                        {% if instance.has_review == False %}
                            <a href="{% url 'create_review' instance.id %}"><button type="submit" class="btn btn-success mt-2">Poster une critique</button></a>
                        {% endif %}
                    </div>
                </div>
                <hr>
            {% elif instance|model_type == 'Review' %}
                <div class="container__feed review">
                    {% include 'service/partials/review_snippet.html' with review=instance %}
                    {% if instance.user == request.user %}
                        <a href="{% url 'edit_review' instance.id %}"><button type="submit" class="btn btn-primary mt-3">Éditer / supprimer la critique</button></a>
                    {% endif %}
                </div>
                <hr>
            {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock content %}
